# Testing
#model = PSNR
model = STSIM
#model = DISTS

#train_config_path = weights/STSIM/config.json
#train_config_path = weights/STSIM_MSF/config.json
#train_config_path = weights/DISTS/config.json
train_config_path = weights/STSIM_07182021_SF/config.json
#weights_path = weights/DISTS/epoch_0100.pt

dataset_dir = /dataset/jana2012/
label_file = label.xlsx
dist = test.json
ref = original
