# Testing
#model = PSNR
model = STSIM
#model = DISTS

#train_config_path = weights/STSIM/config.json
#train_config_path = weights/STSIM_MSF/config.json
#train_config_path = weights/DISTS/config.json
;train_config_path = weights/STSIM_01272022_global_mode0_SF_json/config.json
train_config_path = weights/STSIM_01242022_SCF_global_mode0/config.json
#weights_path = weights/DISTS/epoch_0100.pt

dataset_dir = /dataset/jana2012/
label_file = label_final.xlsx
dist = test
ref = original
